<h1>Editing Realty Inscriptionfile</h1>

<%= render 'form', realty_inscriptionfile: @realty_inscriptionfile %>

<%= link_to 'Show', @realty_inscriptionfile %> |
<%= link_to 'Back', realty_inscriptionfiles_path %>
