<div class="card">
  <div class="card-header">
    Entidades
  </div>
  <div class="card-body">
    <li class="list-group-item "><%= link_to 'Personas', personas_path %></li>
    <li class="list-group-item"><%= link_to 'Persona Juridica', legal_personas_path %></li>
  </div>
</div>
