<div class="card">
  <div class="card-header">
    Inversiones
  </div>
  <div class="card-body">
    <li class="list-group-item "><%= link_to 'Remates', auctions_path%></li>
    <li class="list-group-item"><%= link_to 'Calendario de Remates ', calendario_path %></li>
  </div>
</div>
