<div class="card">
  <div class="card-header">
    Propiedades
  </div>
  <div class="card-body">
    <li class="list-group-item "><%= link_to 'Listado de Propiedades', realties_path %></li>
    <li class="list-group-item"><%= link_to 'Nueva Propiedad', new_realty_path %></li>
    <li class="list-group-item"><%= link_to 'Listado Tasaciones', appraisals_path %></li>
    <li class="list-group-item"><%= link_to 'Listado Condominios', condominios_path %></li>


  </div>
</div>
