<%= link_to 'Volver Listado Monedas', monedas_path %>

<p></p>

<div class="row" id="fileview">
  <div class="col-principal col-md-8">
    <div>
      <h2>
         Moneda nยบ  <%= @moneda.id %> : <%= @moneda.name %>
        </h2>
    </div>
    <h4>Informacion de la Moneda</h4>


      <div>
        Fecha:  <%= @moneda.name %>
      </div>
      
  </div>

</div>




