<% if @realty.errors.any? %>
  <div>
    <h2><%= pluralize(@realty.errors.count, "error") %> no se pudo guardar por los siguientes errores:</h2>
    <ul>
      <% @realty.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
