<style>
  table {
    max-width: 780px;
    table-layout: fixed;
    margin: auto;
  }

  th,
  td {
    padding: 5px 10px;
    border: 1px solid #000;
    width: calc(100%/7);
    overflow: hidden;
  }

  thead,
  tfoot {
    background: #f9f9f9;
    display: table;
    width: 100%;
  }

  tbody {
    height: 200px;
    overflow: auto;
    overflow-x: hidden;
    display: block;
    width: 100%;
  }

  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
</style>
<br>
<br>
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">nombre archivo</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @fileUpload.each do |fileUpload| %>
    <tr>
      <td><%= fileUpload.file_name %> </td>
      <% if fileUpload.file_name != ""%>
      <td>
        <%= link_to 'Ver', File.join(root_url.to_s+"uploads/",fileUpload.file_name.to_s), target: "_blank"%>
        <%= link_to 'Descargar', File.join(root_url.to_s+"uploads/",fileUpload.file_name.to_s),download:''%>
      </td>
      <%else %>
      <td>Sin Archivo</td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<br>