<div class="results-block">
  <%= render partial: 'layouts/alerts' %>
</div>
<%= render 'form' %>



<div class="container">
  <%= link_to  realties_path, class: "btn btn-primary" do %>
  <%= fa_icon "backspace" %>volver a Propiedades
  <% end %>
</div>
