<%= link_to 'Volver Listado de Bancos', banks_path %>

<p></p>

<div class="row" id="fileview">
  <div class="col-principal col-md-8">
    <div>
      <h2>
        Banco nยบ  <%= @bank.id %> : <%= @bank.name %>
        </h2>
    </div>
    <h4>Informacion del Banco</h4>


    

      <div>
        Nombre:  <%= @bank.name %>
      </div>
       

  </div>

</div>
