<h1>Home</h1>

<h1><%= Date.tomorrow %> </h2>
<a class="dropdown-item" href="<%= new_user_registration_path %> ">Registro</a>
<a class="dropdown-item" href="<%= new_user_session_path %> ">Iniciar sesión</a>
