<h1>NaturalPeople#new</h1>
<p>Find me in app/views/natural_people/new.html.erb</p>

<h1>New Natural Person</h1>

<%= render 'form', natural_person: @natural_person %>

<%= link_to 'Back', natural_people_path %>
