<br>
<div class="row" id="fileview">
  <div class="col-principal col-md-8">
    <div class="field">
      hola
      <%= @domain.type_modality %>
    </div>
    <div class="field">
      <%= @persona.percentage %>
    </div>
    </div>
  </div>
