

<div>
  <h2>
    Aviso nยบ  <%= @auctionnotice.id %>
    </h2>
</div>
<h4>Informacion</h4>


  <div>
    estado:  <%= @auctionnotice.status %>
  </div>
   <div>
     texto: <%= @auctionnotice.auction %>
   </div>
  
