<br>
<div class="row" id="fileview">
  <div class="col-principal col-md-8">

<div>
  <h2>
    Aviso nยบ  <%= @auctionnotice.id %>
    </h2>
</div>
<h4>Informacion</h4>


  <div>
    estado:  <%= @auctionnotice.status %>
  </div>
   <div>
     texto: <%= @auctionnotice.auction %>
   </div>

</div>
<div class="col-lateral col-md-4"">
  algo

</div>

</div>
