// Place all the styles related to the auctionnotices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

#actionNoticeTable {
  background-color: #f5f976;
}

#auctionnoticenew {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  display: flex;
   padding: 10px 0;
}

.form-group {
  margin-bottom: 0;
  text-align: left;
}
