
/*
a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}
*/
p, ol, ul, td {
  color: #000;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: normal;
}

/*
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
} */
/*
h2 {
text-align: center;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;

}
#h2form {
  background-color: #FD4F4A;
  color: #fff;
}
*/

ul li {
  font-size: 12px;
  //list-style: square;
}



label {

font-weight: normal;
  margin-top: 15px;
}

.btn {
  border: 0;
  border-radius: 3px;
  margin-top: 20px;
}




/*//////////////////////////////////////////////////////////////////
[ global Class and ids  ]*/

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#notice {
  color: green;
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}




/*//////////////////////////////////////////////////////////////////
[ global Tables ]*/


th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}
table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 20px;
  padding: 5px ;
  width: 100%;
  margin: 0 auto;
  position: relative;

}
thead{
  border-radius: 20px;
  padding: 5px ;
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-spacing: 1;
  border-collapse: collapse;



}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}

tbody tr {
  font-size: 14px;
}
table tbody tr {
  height: auto;
  padding: 37px 0;
}


tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;

  line-height: 1.2;
  font-weight: unset;
}




nav {
  border-radius: 10px;


}
