<h1>New Realty Inscription</h1>

<%= render 'form', realty_inscription: @realty_inscription %>
<% @realty_domain = RealtyDomain.find(params[:realty_domain_id]) %>
<%= link_to 'Atrás', @realty_domain %>
